#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #b0b4b8;
  stroke-width: 1em;
}
  @-webkit-keyframes pulse {
    0% { box-shadow:0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}}; }
  50% { box-shadow:0 0 16px {{backgroundColor}}, inset 0 0 14px {{backgroundColor}}; }
  100% { box-shadow:0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}}; }
  }
#svg #bar {
  stroke: {{backgroundColor}};
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  /* box-shadow: 0 0 1em black; */
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}};
  -webkit-animation: pulse 2s linear 1s infinite;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  box-shadow: 0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}};
  -webkit-animation: pulse 2s linear 1s infinite;
}
.img_box{
  top:50%;
  left:50%;
  position: absolute; 
  transform: translate(-65%, -55%); 
  width: 160px;
  overflow:hidden;
}
#imgSrc{
  display:none;
}


@keyframes move{
    from{
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}

/* CSS beauty */
html {  height: 100%;}
body{ 
font-family: 'BubbleGum', sans-serif;
background-color: transparent; 
height: 100%; 
padding-top: 2em; 
text-align: center;
}
h1, h2{ margin: 0; text-transform: uppercase;text-shadow: 0 0 0.5em black;} 
h2 { font-weight: 300}
.goal_text {
  background: transparent;
  color: {{fontColor}};
  text-align: center;
  font-size: 35px;
}
.percent_value {
  background: transparent;
  color: {{fontColor}};
  box-shadow: none;
  outline: none !important;
  margin: 0.5em auto;
  text-align: center;
  font-size: 30px;
}
.box_event{
  border-radius: 36px; 
  border: 5px solid #FFBE98;
  background: #FFBE98;
  animation: lineIn 2s linear forwards;
  overflow-x: hidden;
  
}
@keyframes lineIn{
  0%{
    width:0%;
  }
  100%{
    width:100%;
  }
}
.box_event .event_text {

  color: #FFF;
  text-align: center;
  font-size: 30px;
  white-space: nowrap; /* Prevent text from breaking into multiple lines */
  animation: lineIntext 10s infinite;
  animation-timing-function: linear;
}
@keyframes lineIntext{
	  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-100%)
  }
}

