#svg circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear;
  stroke: #b0b4b8;
  stroke-width: 1em;
}
  @-webkit-keyframes pulse {
    0% { box-shadow:0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}}; }
  50% { box-shadow:0 0 16px {{backgroundColor}}, inset 0 0 14px {{backgroundColor}}; }
  100% { box-shadow:0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}}; }
  }
#svg #bar {
  stroke: {{backgroundColor}};
}
#cont {
  display: block;
  height: 200px;
  width: 200px;
  margin: 2em auto;
  /* box-shadow: 0 0 1em black; */
  border-radius: 100%;
  position: relative;
  box-shadow: 0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}};
  -webkit-animation: pulse 2s linear 1s infinite;
}
#cont:after {
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 50%;
  /* box-shadow: inset 0 0 1em black; */
  /*content: attr(data-pct)"%"; */
  
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  /* text-shadow: 0 0 0.5em black; */
  box-shadow: 0 0 8px {{backgroundColor}}, inset 0 0 8px {{backgroundColor}};
  -webkit-animation: pulse 2s linear 1s infinite;
}
.slime_box{
  top:50%;
  left:50%;
  position: absolute; 
  transform: translate(-50%, -50%); 
  width: 64px;
  height: 64px;
  overflow: hidden; 
}
.slime{
    animation: move 1s steps(5) infinite;
}

@keyframes move{
    from{
        transform: translate3d(0px,0,0);
    }
    to{
        transform: translate3d(-100%,0,0);
    }
}

/* Make things perty */
html {  height: 100%;}
body{ 
font-family: 'BubbleGum', sans-serif;
background-color: transparent; 
height: 100%; 
padding-top: 2em; 
text-align: center;
}
h1, h2{ margin: 0; text-transform: uppercase;text-shadow: 0 0 0.5em black;} 
h2 { font-weight: 300}
.goal_text {
  /* border: 1px solid #666; */
  background: transparent;
  color: {{fontColor}};
  /* padding: 0.5em; */
  /* box-shadow: none; */
  /* outline: none !important; */
  /* margin: 1em auto; */
  text-align: center;
  font-size: 35px;
}
.percent_value {
  /* border: 1px solid #666; */
  background: transparent;
  color: {{fontColor}};
  /* padding: 0.5em; */
  box-shadow: none;
  outline: none !important;
  margin: 0.5em auto;
  text-align: center;
  font-size: 30px;
}
