body{
    background: #96ffc1;
}

.idle-slime{
    width: 64px;
    height: 64px;
    overflow: hidden;
}
.slime{
    animation: move 6s linear infinite;
}

@keyframes move{
    0%{
        transform: translateX(100%)
    }
    100%{
        transform: translateX(-100%)
    }
}