body{
    background: #96ffc1;
}

.idle-slime{
    width: 64px;
    height: 64px;
    overflow: hidden;
}
.slime{
    animation: move 1s steps(5) infinite;
}

@keyframes move{
    from{
        transform: translate3d(0%,0,0);
    }
    to{
        transform: translate3d(-100%,0,0)
    }
}