@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
#cont {
  height: 400px;
  width: 400px;
  position: relative;
}
.img_box {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translate(25%, 25%);
  
}
body {
  font-family: "Berkshire Swash", serif;
  font-weight: 700;
  font-style: normal;
  background-color: transparent;
}
#text_box {

  justify-content: center;
  align-items: center;    
  text-align: center;      
    position: absolute;
    width: 100%;
    
    color: white;
    font-size: 22px;
    opacity: 0;
    z-index: 3;
}
#text_box .event {

  color: #ffcc00;
}

@keyframes revealFromCenter {
  0% {
    opacity: 0;
    clip-path: inset(0 50% 0 50%);
  }
  50% {
    opacity: 1;
    clip-path: inset(0 0% 0 0%);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0% 0 0%);
  }
}

.animate {
  animation: revealFromCenter 3s ease-out ;
}
.frame {
  width: 414px;
  height: 200px;
  position: absolute;
  background-image: url('https://tiennguyen99.github.io/se-widgets/assets/custom-bunny/Panel/Panel.png');
  background-repeat: no-repeat;
  background-size: 4968px 200px; 
  animation: frameAnim 2s steps(12) 1; /* Chạy 1 lần */
  animation-fill-mode: forwards; /* Giữ trạng thái cuối */
  z-index: 2;
}

@keyframes frameAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -4968px 0; /* Đảm bảo frame cuối là hình ảnh mong muốn */
  }
}


