@property --p {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}
.chart-circle,
 .chart-indicator{ --p: 100%; }

.chart-circle, .chart-indicator{
  width: var(--size); aspect-ratio: 1;
  transition: --p 2s linear;
}
.chart-circle {
  --size: 200px; 
  border-radius: 50%;
  --p: 0%; /*fallback*/
  background: conic-gradient( red calc(-60% + var(--p)), rgb(224, 187, 77) var(--p), #eee 0); 
  position: relative;
  margin: auto;
  cursor: progress;
}
.chart-indicator {
  --size: min-content; 
  offset: path("M 100,0 a 100 100 0 1 1 -.1 0 z");
  offset-distance: var(--p);
  font: 43pt serif;
  transform: rotateY(180deg) translateX(-6px);
}
.chart-circle::before {
  position: absolute;
  inset: 20px; 
  content:'Going ten to eigthy percent';
  text-align: center;
  padding: 50px;
  font: italic 9pt 'Enriqueta';
  border-radius: inherit;
  background: white;
}
figcaption{
  text-align: center;
  margin-top: 40px;
  font: 12pt 'Enriqueta';
}
body{
  height: 100vh;
  display: grid;
  place-content: center;
}
@supports not (offset: path("M 65,0 a 65 65 0 1 1 -.1 0 z")){
  figure {display: none;}
  body::before{
    font: 13pt 'Enriqueta';
    display: block;
    width: 80vw;
    padding: 10px;
    background: #eee;
    border-radius: 4px;
    content: 'Demo not shown in this browser. No support for CSS offset property.'
  }
}